
.flex-center {
    display: flex;
    justify-content: center;
  }
  
  .mt-32 {
    margin-top: 32px;
  }
  
  .pb-12 {
    padding-bottom: 12px;
  }
  
  .mr-12 {
    margin-right: 12px;
  }
  
  .px-24 {
    padding: 0 24px;
  }
  .px-32 {
    padding: 0 32px;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper-a4 {
    background-color: #ededed !important;
    padding: 12px 40px !important;
  
    @media screen and (max-width: 768px) {
        padding: 12px !important;
    }
  }
  
  .A4 {
    background-color: #fff;
  }
  
  .A4-content {
    padding: 40px 40px 80px 40px;
    p {
        font-family: 'Times New Roman', serif !important;
    }
  
    @media screen and (max-width: 768px) {
        padding: 10px 10px 20px 40px;
    }
  }
  .text-justify {
    p {
        text-align: justify;
    }
  }
  .line-height-25 {
    line-height: 2.5 !important;
  }
  .mb-8 {
    margin-bottom: 16px !important;
    font-size: 18px !important;
  }
  .text-right {
    text-align: right;
  }
  
  .sign-text {
    font-family: 'Times New Roman', serif !important;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .sign-text-16 {
    font-family: 'Times New Roman', serif !important;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .heading-underline {
    text-decoration: underline;
    text-underline-position: under;
    text-transform: none;
    padding-bottom: 4px;
    margin-bottom: 32px;
  }
  .overflow-x {
    overflow-y: scroll !important;
  }
  .font-bold {
    font-weight: bold !important;
  }
  .custom-input:after {
    content: unset !important;
  }
  .custom-input:before {
    content: unset !important;
  }
  .no-padding {
    padding: 0 !important;
  }
  
  .bold {
    font-weight: bold !important;
  }
  
  .italic {
    font-style: italic !important;
  }
  
  .text-center {
    text-align: center;
  }
  
  .reasonForEnding {
    width: 100%;
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    outline: none;
    border: none;
    resize: none;
    // whiteSpace: pre-wrap;
    overflow: hidden;
  
  }
  .endDate {
    width: 20px;
    height: 20px;
    &:after {
      border-bottom: none !important;
    }
  }
  